@blue-base: #2463eb;
@purple-base: #722ed1;
@cyan-base: #13c2c2;
@magenta-base: #eb2f96;
@pink-base: #eb2f96;
@red-base: #d03050;
@orange-base: #f0a020;
@yellow-base: #fadb14;
@volcano-base: #fa541c;
@geekblue-base: #2f54eb;
@lime-base: #a0d911;
@gold-base: #faad14;
@green-base:#18a058;
