@import '../color/colors';

@na-prefix: na;

// colors
@black: #000;
@white: #fff;
@bg-ccc:#ccc;
@primary-color: @blue-base;
@primary-color-hover: #3479E8;
@primary-color-foucs:#0e65bc;

@success-color: @green-base;
@success-color-hover: #36ad6a;
@success-color-pressed:#0c7a43;


@warning-color: @orange-base;
@warning-color-hover: #fcb040;
@warning-color-pressed:#c97c10;

@error-color: @red-base;
@error-color-hover: #de576d;
@error-color-pressed:#ab1f3f;

@text-color: fade(@black, 85%);
@text-color-secondary: fade(@black, 45%);
@font-size-base: 14px;
@font-variant-base: tabular-nums;
@font-feature-settings-base: 'tnum';

@border-color: #d9d9d9;


// Spin
// ---
@spin-dot-size-small: 14px;
@spin-dot-size-middle: 20px;
@spin-dot-size-large: 32px;
